.container {
  max-width: 1400px;
}

.card {
  width: 80%;
}

.text{
  display: none;
  
}
span {
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container {
  max-width: 800px;
}

.card {
  width: 90%;
}
}

@media (max-width: 767px) {
.container {
  max-width: 400px;
}

.card {
  width: 100%;
}
}


